body {
    background-color: #fcfcfc;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

blockquote{
    border-color:#283593 !important;
}

p.box {
    padding: 20px;
}

p {
    color: rgba(0, 0, 0, 0.71);
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}

footer{
    background-color:#283593 !important;
}

footer .footer-copyright{
    background-color:#283593 !important;
}

.page-footer {
    padding-top: 0px !important;
}

.tabs .tab a {
    color:#283593 !important;
}

.tabs .tab a:hover {
    color:#283593 !important;
}

.tabs .indicator {
    background-color:#283593 !important;
}

nav{
    background-color:#283593 !important;
}
nav a {
    -webkit-font-smoothing: antialiased;
}

nav ul li:hover, nav ul li.active {
    background-color: #303f9f;
}

.section a{
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.87) !important;
}
.section a:hover blockquote{
    background-color: #eeeeee !important;
}

.header {
    color: #1a237e;
    font-weight: 300;
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.preview {
    background-color: #FFF;
    border: 1px solid #eee;
    padding: 20px 20px;
}

header, main, footer {
    padding-left: 240px;
}

.parallax-demo header, .parallax-demo main, .parallax-demo footer {
    padding-left: 0;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0; }
}
.col{
    padding: 0px !important;
}

.btn-floating.btn-large i {
    line-height: 55.5px !important;
}

.Muelles{
    margin-right: 25px;
    margin-right: 25px;
}

.FuenteLCD{
	font-family: 'LCDBOLD' !important;
	font-size: 100px !important;
	text-align:center !important;
	text-shadow: 4px 4px 4px #aaa !important;
	/*border: 1px solid black !important;*/
	background: black;
	padding: 10px;
	color: white;
 }

.card-content{
    padding: 10px !important;
}

.card-content a{
    text-align: center !important;
    width: 49% !important;
}

.btn_resize{
    background-color: #283593 !important;
}